/*====================================*/
/* RESET CSS */
/*====================================*/
/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
list-style: none;
}

/* Set core root defaults */
html{
    scroll-behavior: smooth;
}
html:focus-within {
scroll-behavior: smooth;
}

/* Set core body defaults */
body {
min-height: 100vh;
text-rendering: optimizeSpeed;
line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
max-width: 100%;
display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
    scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}
/*====================================*/
/* Custom properties*/
/*====================================*/
:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

/*=========================================*/
/*===============SCROLLBAR=================*/
body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
/*=========================================*/
/*===============body=================*/
.wrapper{
    margin-left:5rem;
    padding:1rem;
}
/*=========================================*/
/*===============NAVBAR=================*/
.navbar{
    position:fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width:100%;
}

.nav-item:last-child{
    margin-top:auto;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}

.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg{
    transform: rotate(-180deg);
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
    height: auto;
}

.fa-primary{
    color: #ff7eee;
}

.fa-secondary{
    color: #df49a6;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

.navbar:hover .link-text{
    display:inline;
    transition: opacity var(--transition-speed);
}


/*=========================================*/

@media only screen and (max-width: 600px){
    .navbar{
        top:0;
        width:100vw;
        height: 5rem;
    }
    .logo{
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }
    .wrapper{
        margin:0;
    }

}

/*large screens*/
@media only screen and (min-width: 600px){
    .navbar{
        top:0;
        width:5rem;
        height: 100vh;
    }

    .navbar:hover{
        width:16rem;
    }

}
